<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao">

<head>
<title>Cadastro de Usuario</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />


</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de usuário</h1>
			</div>
		</div>
		<div class="container-fluid">
			<form method="post" th:object="${cerveja}"
				class="form-vertical  js-form-loading">
				<div class="row">

					<div class="col-sm-12  form-group  bw-required">

						<label for="nome" class="control-label">Nome</label> <input id="nome" type="text"
							class="form-control" />

					</div>
				</div>

				<div class="row">
					<div class="col-sm-6  form-group  bw-required">
						<label for="email" class="control-label">E-Mail</label> <input id="email" type="text"
							class="form-control" />


					</div>
					<div class="col-sm-3  form-group  bw-required">
						<label for="telefone" class="control-label">Data de Nascimento</label> <input
							id="telefone" type="date" class="form-control" />


					</div>

				</div>

				<div class="row">
					<div class="col-sm-3  form-group  bw-required">

						<label for="senha" class="control-label">Senha</label> <input id="senha" type="password"
							class="form-control" required>

					</div>
					<div class="col-sm-3  form-group  bw-required">

						<label for="confirmacao-senha" class="control-label">Confirme a senha</label> <input
							id="confirmacao-senha" type="password" class="form-control"
							required>

					</div>
					<div class="col-sm-3">
						<label for="status"class="control-label">Status</label>
						<div>
							<input type="checkbox" class="js-status" data-size="small" data-off-color="danger"
							data-on-text="Ativo" data-off-text="Inativo">							
						</div>

					</div>

				</div>

				<div class="row">
					<div class="col-sm-3  bw-required  form-group">
						<label for="status" class="control-label">Grupos</label>
						<div class="input-group">
							<span> <input type="checkbox" aria-label="...">
							</span> <label>Administrador</label> <span> <input
								type="checkbox" aria-label="...">
							</span> <label>Vendedor</label>
						</div>

					</div>

				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>

				</div>


			</form>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
	
</body>

</html>