<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- Inclui traceId/spanId no padrão para correlação no Grafana -->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level [%X{traceId},%X{spanId}] %logger{36}: %msg%n" />
		</Console>
		<!-- Envia logs via OTLP para o OTel Collector → Loki -->
		<OpenTelemetry name="OtelAppender" />
	</Appenders>
	
	<Loggers>
	
		<Logger name="com.algaworks.brewer" level="debug" />
		
		<Logger name="org.hibernate.SQL" level="debug" />
		
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="OtelAppender" />
		</Root>
	</Loggers>
</Configuration>