<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="com.algaworks.brewer" level="INFO"/>
	<logger name="org.springframework.web" level="WARN"/>
	<logger name="org.hibernate.SQL" level="WARN"/>
</configuration>
