html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #0080ff;
}

body {
	min-height: 100vh;
	background-color: #CCC;
	background-image: url('https://unsplash.it/g/1500/800?random');	
}

.login-form {
	margin-top: 50vh;
	padding: 20px 30px;
	background-color: rgba(0,0,0, .9);
	color: #fff;

	transform: translateY(-50%);
}

.login-form h1 {
	margin: 0 0 5px;
}

.login-form h2 {
	margin: 0 0 30px;
	font-size: 1em;
}