<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/LayoutPadrao"
	xmlns:brewer="http://brewer.algaworks.com">

<head>
<title th:text="#{estilo.cadastro.titulo}">Cadastro de Estilos</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />


</head>

<body>
	<section layout:fragment="conteudo">
		
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1 th:if="${estilo.nova}" th:text="#{estilo.cadastro.titulo}">Cadastro de estilo</h1>
						<h1 th:unless="${estilo.nova}" th:text="#{estilo.edicao.titulo(${estilo.nome})}">Edição de estilo</h1>
<!-- 						<h1 th:unless="${estilo.nova}" th:text="|Edição do estilo - ${estilo.nome}|">Edição de estilo</h1> -->
					</div>
					
					<div class="col-xs-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/estilos}">
								
								<span class="hidden-xs  hidden-sm" th:text="#{btn.pesquisa}">Pesquisa</span>
							</a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
		
			<form method="POST" th:object="${estilo}" class="form-vertical  js-form-loading" 
				th:action="${estilo.nova} ? @{/estilos/novo} : @{/estilos/{codigo}(codigo=${estilo.codigo})}">
				
				<brewer:message />
				
				<input type="hidden" th:field="*{codigo}"/>

				<div class="row">
					
					<div class="col-sm-12  form-group  bw-required" brewer:classforerror="nome">

						<label for="nome" class="control-label" th:text="#{estilo.nome}">Nome</label> 
						<input id="nome" type="text"
							class="form-control" th:field="*{nome}" />

					</div>
				</div>
				
				<div class="form-group">
					<button class="btn  btn-primary" type="submit" th:text="#{btn.salvar}">Salvar</button>

				</div>

			</form>
		</div>
	</section>

	

</body>

</html>